<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-card-4 w3-dark-grey">

        <div class="w3-container w3-center">
                <div>
                        <h1>Log In:</h1>
                </div>
                <img src="./assets/images/15012_the-boss-baby-prev.png" alt="Avatar" style="width:20%">

                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">

                                <label>Username:</label><br /><input type="text" formControlName="username" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.username.errors }" required><br />
                                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                        <div *ngIf="f.username.errors.required"><span class="message">Username is
                                                        required !</span></div>
                                </div>
                        </div>

                        <div class="form-group">
                                <label>Password:</label><br /><input type="password" formControlName="password" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required><br />
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required"><span class="message">Password is
                                                        required !</span></div>
                                </div>


                        </div>

                        <br />
                        <div class="form-group">
                                <button type="submit" class="button"><b>Login</b></button>
                                <p><a href="">Forgot Password ?</a></p>
                        </div>
                </form>
        </div>


</div>


<div class="center">
        <p><b>@ Copyright 2018. Engineering Software LAB</b></p>
        <i class="fa fa-facebook-square" style="font-size:36px "> </i>
        <i class="fa fa-github" style="font-size:36px "> </i>
        <i class="fa fa-instagram" style="font-size:36px "> </i>
        <i class="fa fa-linkedin-square" style="font-size:36px "> </i>
        <i class="fa fa-twitter-square" style="font-size:36px "> </i>
</div>